<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
       <rewrite>
            <rules>
                <rule name="ReactRouter" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
						<add input="{HTTP_METHOD}" pattern="^GET$" />
						<add input="{HTTP_ACCEPT}" pattern="^text/html" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="REMOVE_RESPONSE_ETAG" enabled="true">
                    <match serverVariable="RESPONSE_ETAG" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="max-age=3600" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
