.topBox{
    width:100%;
    margin:0 auto;
    background-color: #292f36;
    overflow: hidden;
    .topAbsolute{
      display: initial;
      width: 20%;
      line-height: 64px;
      img{
        height: 53px;
      }
    }
  }

/* loading 样式*/
.loadingPic{
  animation: loadingCircle 1s forwards;
  -webkit-animation: loadingCircle 1s forwards;
}
