.loginMain{
    height: 44px;
    .checkPas{
      float: right;
    }
    .btn{
      width: 100%;
      margin-bottom: 20px;
    }
    /***** 修改antd默认样式              *******/
    .ant-input-affix-wrapper > input.ant-input{
      height: 36px;
      line-height: 36px;
    }
    
  }

  
  