@color: #1890ff;

.sliderBox{
    display: inline-block;
    vertical-align: top;
    // margin-top: 20px;
    .sliderSingle{
      width: 160px;
      height: 60px;
      background: #DCDCDC;
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-size: 20px;
      margin-bottom: 8px;
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      display: block;
      .square{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid @color;
        position: absolute;
        right: -10px;
        top: 19px;
        z-index: 1;
      }
    }
    .sliderCurr{
      background: @color;
    }
}

.searchBox{
  height: 60px;
  line-height: 60px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 20px;
}
.menuSec{
  :global{
    .ant-menu-horizontal > .ant-menu-item-selected > a {
      color: #222;
    }
    .ant-menu-horizontal > .ant-menu-item > a {
      font-size: 18px;
      margin: 5px;
    }
  }
}

.manuscriptBox{
  min-height: 670px;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  .orgTittle{
    padding:0 20px 25px 20px;
    display: flex;
  }
  .detailsTitleBox{
    padding:5px 0;
    margin: 0;
  }
  .rightButton {
    margin: 0 !important;
    float: right;
  }
  :global{
    // 该全选将隐藏 table 的全选框
    //.ant-table-wrapper .ant-table-selection-column{display:none;}
    .ant-table-row:hover .ant-dropdown-link,
    .ant-dropdown:hover .ant-dropdown-link{display:inline-block;}
  }
}
.maxWidthBox{
  min-width: 1020px;
}
.subHead{
  h1{
    color: #222222;
    font-size: 20px;
    height: 48px;
    line-height: 28px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 -20px 0px -20px;
    padding: 0 20px;
  }
  .line{
    width:calc(~'100% + 40px');
    height:0px;
    border-bottom:1px dotted rgba(217,217,217,1);
    margin:0 -20px;
  }
  .item{
    display: inline-block;
    margin-right: 40px;
    font-size: 14px;
    color:#222;
    margin: 10px 40px 10px 0;
    height: 40px;
    line-height: 40px;
  }
  .fbtn:hover{
    background-color: @color;
    color:#fff;
  }
  .fbtn{
    margin-right:10px;
    :global{
      .ant-btn:focus {
        background-color: @color;
        color:rgba(0, 0, 0, 0.65);
        border-color: none;
      }
    }
    
  }
  .btn{
    border:0;
    margin:0 5px;
    border-radius: 3px;
    min-width: 70px;
    text-align: center;

      .ant-btn:focus {
        background-color: none;
        color:initial;
        border-color: @color;
      }
    
  }
  .btn.active{
    background-color: @color;
    color:#fff;
  }
}
.marR20{ margin-right: 20px !important;}


  